body{
    background-image: url('images/wallpaperflare.com_wallpaper\ \(1\).jpg');
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.heading-items{
    display: flex;
    justify-content: space-evenly;
}

.heading{
    width: 500px;
}

.heading>ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

.heading-items li{
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}
.heading-items a{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: chocolate;
}

.heading-items li:hover{
    /* font-weight: bolder; */
    border: 1px solid chocolate;
    border-radius: 4px;
}

.title-section{
    color: whitesmoke;
    font-size: 1.5em;
    margin-left: 20px;
    padding: 43px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.left-col{
    width: 75%;
    border-right: 2px solid chocolate;
    height: 100vh;
}

.contact-us-nav{
    list-style-type: none;
    margin: 0;
    display: flex;
}
.contact-us-nav i{
    padding: 0 7px;
    color: chocolate;
}

.contact-us-box{
    display: inline-flex;
    padding: 10px 0;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid chocolate;
    width: 100%;
}
.contact-us-box span{
    font-size: 1.1em;
    color: chocolate;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.right-col{
    width: calc(100% - 75%);
}

.socials > ul{
    padding: 5px;
}

.legend-h1{
    margin-bottom: 0;
    text-shadow: 2px 0 black;
}
.legend>span{
    text-shadow: 2px 0 black;
}

.description{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    text-shadow: 2px 0 black;
}